PORT = 3000
MONGODB_URL = yourMongoDB_URL
DB_NAME = letsBlog

accessTokenKey = someSuperSecretAccessTokenKey
refreshTokenKey = anotherSuperSecretRefreshTokenKey


EMAIL_SMTP_HOST=YourSMTPHost
EMAIL_SMTP_PORT=YourSMTPPort
EMAIL_SMTP_USERNAME=YourSMTPUsername
EMAIL_SMTP_PASSWORD=YourSMTPPassword
# true for 465, false for other ports
EMAIL_SMTP_SECURE=false